set default=0
set timeout=15


menuentry "doelzaberi (live, RAM)" {
    linux /boot/bzImage console=tty1 loglevel=4
    initrd /boot/initrd
}

menuentry "doelzaberi (live, RAM) - verbose boot" {
    linux /boot/bzImage console=tty1 loglevel=7
    initrd /boot/initrd
}

menuentry "doelzaberi (live, RAM) - safe graphics (nomodeset)" {
    linux /boot/bzImage console=tty1 loglevel=7 nomodeset
    initrd /boot/initrd
}

menuentry "doelzaberi (live, RAM) - no nouveau (NVIDIA hang)" {
    linux /boot/bzImage console=tty1 loglevel=7 nouveau.modeset=0
    initrd /boot/initrd
}

